.menuButtons {
    font-size: 34px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.menuHeader {
    font-size: 100px;
}
